@charset "UTF-8";

/*Tipos de fontes e Paleta de cores ao amanhecer. */
:root{
    --cor0-dia: #2885C7;
    --cor1-dia: #396B8F;
    --cor2-dia: #0092FA;
    --cor3-dia: #3A5161;
    --cor4-dia: #31383D;
}

/*Tipos de fontes e Paleta de cores ao anoitecer. */
:root{
    --cor0-noite: #012E40;
    --cor1-noite: #024959;
    --cor2-noite: #026773;
    --cor3-noite: #3CA6A6;
    --cor4-noite: #F2E3D5;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

header > h1{
    color: white;
    font-size: 1.7em;
    text-align: center;
}

main, article{
    background-color: white;
}

main > article{
    padding: 0px 12px;
}

main > article > h1{
    font-size: 1.7em;
    padding: 24px 0px 17px 0px;
    text-align: center;
}

main > article > h2{
    font-size: 1.5em;
    padding: 5px 0px 15px 0px;
    text-align: center;
}

main > article > h3{
    padding: 4px 0px 8px 0px;
}

main > article > p{
    padding-bottom: 10px;
    text-align: justify;
    text-indent: 35.2px;
}

img{
    display: none;
    margin: auto;
    width: 90%;
}