@charset "UTF-8";

@font-face {
    font-family: 'corpo';
    src: url(../fontes/Roboto/RobotoCondensed-Black.ttf) format(truetype);
}

/*Tipos de fontes e Paleta de cores ao amanhecer. */
:root{
    --font-corpo: 'corpo';
    --cor1-dia: #103778;
    --cor2-dia: #0593A2;
    --cor3-dia: #E3371E;
    --cor4-dia: #FF7A48;
    --cor5-dia: #151F30;
}

/*Tipos de fontes e Paleta de cores ao anoitecer. */
:root{
    --font-corpo: 'corpo';
    --cor0-noite: #012E40;
    --cor1-noite: #024959;
    --cor2-noite: #026773;
    --cor3-noite: #3CA6A6;
    --cor4-noite: #F2E3D5;
}

*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor5-dia);
}

header{
    padding: 40px 10px;
}

header > h1{
    color: white;
    font-size: 1.7em;
    text-align: center;
}

main, article{
    background-color: white;
}

main > article{
    font-family: 'corpo';
    padding: 0px 12px;
}

main > article > h1{
    color: var(--cor1-dia);
    font-size: 1.7em;
    padding: 24px 0px 17px 0px;
    text-align: center;
}

main > article > h2{
    color: var(--cor2-dia);
    font-size: 1.5em;
    padding: 5px 0px 15px 0px;
    text-align: center;
}

main > article > h3{
    padding: 4px 0px 8px 0px;
}

main > article > p{
    padding-bottom: 10px;
    text-align: justify;
    text-indent: 35.2px;
}

img#logo{
    border-radius: 5px;
    display: block;
    margin-bottom: 10px;
    width: 90px;
}

img{
    display: none;
    margin: auto;
    width: 90%;
}

footer{
    background-color: var(--cor1-dia);
    color: white;
    text-align: center;
    padding: 17px 12px;
}

footer > p > strong > a{
    color: white;
    font-style: italic;
}