@charset "UTF-8";

/*Tipos de fontes e Paleta de cores ao amanhecer. */
:root{
    --font-corpo: 'corpo';
    --cor1-dia: #103778;
    --cor2-dia: #0593A2;
    --cor3-dia: #E3371E;
    --cor4-dia: #FF7A48;
    --cor5-dia: #151F30;
}

/*Tipos de fontes e Paleta de cores ao anoitecer. */
:root{
    --font-corpo: 'corpo';
    --cor0-noite: #012E40;
    --cor1-noite: #024959;
    --cor2-noite: #026773;
    --cor3-noite: #3CA6A6;
    --cor4-noite: #F2E3D5;
}

header{
    background-image: linear-gradient(to right, var(--cor1-dia), var(--cor2-dia));
}

main, article{
    border-radius: 0px 0px 10px 10px;
    box-shadow: 4px 4px 5px rgba(68, 67, 67, 0.24);
    margin: 0px auto 17px auto;
    max-width: 610px;
}

header > h1{
    font-size: 1.9em;
}

main > article > h1{
    font-size: 1.9em;
}

main > article > h2{
    font-size: 1.6em;
}

main > article > h3{
    font-size: 1.3em;
}

footer > p, main > article > p{
    font-size: 1em;
}

main > article > div.video-portrait-unico > video, source{
    border-radius: 10px;
    display: block;
    height: 420px;
    margin: 13px auto 25px auto;
    max-width: 350px;
}

main > article > div.video-portrait > video, source{
    display: none;
}

main > article > div.video-landscape > video, source{
    border-radius: 10px;
    display: block;
    margin: 13px auto 20px auto;
    width: 470px;
}

footer{
    background-image: linear-gradient(to right, var(--cor1-dia), var(--cor2-dia));
    color: white;
    text-align: center;
    padding: 17px 12px;
}